@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root{
  --primary: #424F5F;
  --secondary: #F3F3F3;
  --tertiary: #F4A261;
  --quaternary: #2A9D8F;
  --quinary: #E9C46A;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--primary);
}

.logo{
  height: 100dvh;
}