.header {
    background-color: #424F5F;
}

.logo-button {
    border-radius: 50%;
background: linear-gradient(315deg, #3b4756, #475566);
box-shadow:  -10px -10px 19px #1b2027,
             10px 10px 19px #697e97;
}

.hambourger{
    border-radius: 150px;
background: #987265;
box-shadow: inset -14px -14px 27px #3e2f29,
            inset 14px 14px 27px #f2b5a1;
}