.header {
    background-color: #424F5F;
}

.logo-button {
    border-radius: 50%;
background: linear-gradient(315deg, #929bb0, #adb8d1);
box-shadow:  -10px -10px 19px #424750,
             10px 10px 19px #ffffff;
}