.header {
    background-color: #424F5F;
}

.logo-button {
    border-radius: 50%;
background: linear-gradient(315deg, #3b4756, #475566);
box-shadow:  -10px -10px 19px #1b2027,
             10px 10px 19px #697e97;
}