.header {
    background: linear-gradient(45deg, #3b4756, #475566);
    box-shadow: 20px -20px 60px #384351, -20px 20px 60px #4c5b6d;
}

.logo-button {
    border-radius: 50%;
    background: linear-gradient(45deg, #9b8379, #b89b8f);
    box-shadow: 32px -32px 64px #4f433e, -32px 32px 64px #ffdfce;
}