.header {
    background-color: #424F5F;
}

.logo-button {
    border-radius: 50%;
    background: linear-gradient(315deg, #3b4756, #475566);
    box-shadow: -10px -10px 19px #1b2027, 10px 10px 19px #697e97;
}

.hambourger {
    border-radius: 150px;
background: #6E5049;
box-shadow: inset -14px -14px 27px #2d211e,
            inset 14px 14px 27px #af7f74;
}