.header {
    background-color: #424F5F;
}

.logo-button {
    border-radius: 10px;
    background: #6E5049;
    box-shadow: inset -14px -14px 27px #2d211e, inset 14px 14px 27px #af7f74;
}

.hambourger {
    border-radius: 10px;
    background: #6E5049;
    box-shadow: inset -14px -14px 27px #2d211e, inset 14px 14px 27px #af7f74;
}