.react-calendar{
    padding: 1rem;
    font-size: 1rem !important;
    color: #ffff;
    width: 100%;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-color: #212121;
}

.react-calendar__navigation button{
    background-color: #212121;
    color: #ffff;
    border-color: #111113 !important;
    font-size: 1.2rem !important;
}

.react-calendar__navigation button:enabled:hover{
    background-color: #111113;
    color: #ffff;
}

abbr{
    font-size: .9rem !important;
    text-decoration: none;
}

.react-calendar__tile{
    border-radius: 5px !important;
    border: 1px solid #111113 !important;
}



.react-calendar__tile:hover{
    background-color: #111113 !important;
    color: #ffff !important;
}