.header {
    border-radius: 0px;
background: linear-gradient(315deg, #3b4756, #475566);
box-shadow:  -5px -5px 10px #262e37,
             5px 5px 10px #5e7087;
}

.logo-button {
    border-radius: 50%;
    background: #6E5049;
    box-shadow: inset -14px -14px 27px #2d211e, inset 14px 14px 27px #af7f74;
}

.hambourger {
    border-radius: 10px;
    background: #6E5049;
    box-shadow: inset -14px -14px 27px #2d211e, inset 14px 14px 27px #af7f74;
}

.menu {
    border-radius: 9px;
    background: #3E5F75;
    box-shadow: inset -5px -5px 10px #38556c, inset 5px 5px 10px #5885a8;
    padding: 0.5rem;
}

.menu-item, .menu-item-cancel{
            width: 10rem;
            height: 2.5rem;
            align-items: center;
            display: grid;
            place-content: center;
            margin: 0.2rem;
            padding: 0.2rem 0.5rem;

            @media screen and (min-width: 768px){
                width: 12rem;
            }
}

.menu-item{
border-radius: 7px;
background: #486D8A;
box-shadow: inset -10px 13px 13px #2a3f50,
            inset 10px 5px 13px #5a8ab3;
}

.menu-item-cancel{
    background-color: #6E5049;
    box-shadow: inset -10px 13px 13px #2d2110,
                inset 10px 5px 13px #af7f74;
}